input {
    width: 100%;
}
.page-header{
    color:#0D47A1;
    font-size: 26px;
    background-color: #eedc00;
    margin: 0;
    padding: 20px;
    height: 140px;
}
#headTitle{
    float: right;
}
h2, label{
    color:#0D47A1;
}

.top-buffer { margin-top:20px; }

.col-centered{
    float: none;
    margin: 0 auto;
}
.map-container {
    display: block;
}
.table > div{
    display: inline-block;
    width: 45%;
    padding: 2%;
    margin-top: 2%;
}
